@page

@using FitnessClub.Areas.CustomerPanel.Pages;
@model MembershipModel
@{
    ViewData["Title"] = "Membership";
    ViewData["ActivePage"] = CustomerPanelNavPages.Membership;
    Layout = "./_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-9">
        <table class="table">
            <thead>
                <tr class="no-color">
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.Memberships.First().MembershipNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.Memberships.First().Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.Memberships.First().Finish)
                    </th>
            </thead>
            <tbody>
                @foreach (var item in Model.Customer.Memberships)
                {
                    <tr class="@(item.Active ? "green" : "no-color")">
                        <td>
                            @Html.DisplayFor(modelItem => item.MembershipNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Finish)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>