@page
@model FitnessClub.Pages.DataManagement.Memberships.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.MembershipNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.MembershipNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.PersonID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.PersonID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.Finish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Finish)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.CreatedOn)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Membership.MembershipID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
