@page
@model FitnessClub.Pages.DataManagement.Memberships.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].MembershipNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Finish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membership) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MembershipID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MembershipID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MembershipID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
