@page
@model FitnessClub.Pages.DataManagement.SessionEnrollments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionEnrollment[0].Session)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionEnrollment[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionEnrollment[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionEnrollment[0].CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SessionEnrollment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Session.SessionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
