@page
@using FitnessClub.Data.Models.ViewModels;
@model FitnessClub.Areas.Identity.Pages.CustomerPanel.CreateRatingModel
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div>
    <h4>Rate Coach</h4>
    <hr />
    <dl class="row">
        @{var item = new SessionViewModel(Model.ChosenSession);
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.SessionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.SessionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.CoachFullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.CoachFullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.Weekday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.Weekday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.FinishTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.FinishTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoachRating.Rating)
        </dt>
        }
    <dd class="col-sm-10">
        <form method="post" asp-route-id="@Model.ChosenSession.SessionID">
            <select asp-for="@Model.CoachRating.Rating" class="bigger-select form-control">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            <input type="submit" value="Rate" class="btn btn-primary" />
        </form>
    </dd>
    </dl>
</div>